/*variable*/

:root{
--dark-color: black;
--text-box-color: grey;
--body-border-color:black ;
--background-color:white;
--hover-color:rgb(180, 175, 175);
--h1-font-size: 25px;
--p-font-size: 16px;
--padding-contour-text: 4%;
--padding-entre-titre-paragraphe: 10%;
--dimension-img-dans-grid: 100%;
}

/* Générale*/

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: var(--body-border-color);
    margin: 3%; 
    font-family: 'Lora', serif, Arial, Helvetica, sans-serif;
}

p{
  font-size: var(--p-font-size);
}

h1{
   font-size: var(--h1-font-size);
}

.style_titre{
    border-width: 2px;
    border-style: solid;
    border-color:var(--dark-color);
    background-color: var(--text-box-color);
    text-align: center;
}


.text_style{
    border-width: 2px;
    border-style: solid;
    border-color:var(--dark-color);
    background-color: var(--text-box-color);
    text-align: center;
}

/* NAVIGATION */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration:none;
    color: var(--dark-color);
  }

.boutton{
    position:relative;
    background-color: var(--text-box-color);
    padding: 10px;
    border-radius: 5px;
    border-style:inset;
    text-decoration: none;
    color: var(--dark-color);
    border-color: var(--dark-color);
}

.boutton:hover {
top : 2px;
background-color: var(--hover-color);
}

.nav_bar{
    text-align: center;
    background-color: var(--background-color);
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* image */
img{
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
 }

.grid_item_img_gauche{
grid-column: 1/1;
grid-row: 2/2;
width: var(--dimension-img-dans-grid);
height: var(--dimension-img-dans-grid);
}

.grid_item_img_droit{
    grid-column: 2/2;
    grid-row: 2/2;
    width: var(--dimension-img-dans-grid);
    height: var(--dimension-img-dans-grid);
}

.contour_image_titre{
    background-color: var(--background-color);
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    margin-right:auto;
    margin-left: auto;
}

/* layout de la page principale */
.paragraphe_modele_droit{
    margin-left: 20%;
    padding: var(--padding-contour-text); 
}

.paragraphe_modele_gauche{
    margin-right: 20%;
    padding: var(--padding-contour-text); 
}

.grid_container_page_principale{
    margin-top: 7%;
    display: grid;
    background-color: var(--background-color);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 3%;
}

.grid_item_titre{
    grid-column: 1/3;
    grid-row: 1/1;
    padding-bottom: var(--padding-entre-titre-paragraphe);
}

.center_element{
display: flex;
flex-direction: column;
justify-content: space-around;
justify-content: center;
align-items: center;
}

.grid_item_text_droit{
    grid-column: 2/2;
    grid-row: 2/2;
}

.grid_item_text_gauche{
    grid-column: 1/1;
    grid-row: 2/2;
}

/* layout page contact */
.grid_container_page_contact{
    width: 100%;
    display: grid;
    background-color: var(--background-color);
    align-content: center;
    justify-items: center;
    height: auto;
}

.grid_item_page_contact_top{
    text-align: center;
    grid-row: 1/1;
    padding: var(--padding-contour-text);
}

.grid_item_page_contact_middle{
    
     text-align: center;
    grid-row: 2/2;
    padding: var(--padding-contour-text);
    width: 80%;
    height: 5%;
}

.grid_item_page_contact_bottom{
   height: 5%;
    width: 80%;
    text-align: center;
    grid-row: 3/3;
    padding: var(--padding-contour-text);
}

.conteneur_text_contact{
    padding: var(--padding-contour-text);
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
}